{% extends 'temp/user.html' %}
{% block admin %}
    <style>
    table {
        border-collapse: collapse;
        width: 100%;

    }
    th, td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #DDDDDD;
    }
    tr:hover {background-color: #f5f5f5}
    </style>
	<form>
	<table class="table-bordered" align="center" width="500"><caption> <h1> AUCTION </h1></caption>
	<tr>
        <td>AUCTION AMOUNT</td>
        <td><input type="text" name="amt" required></td>
    </tr>
        <tr align="center"><td height="68" colspan="2"><input type="submit"  value="POST" ></td>
</table>
</form>
{% endblock %}