<!DOCTYPE html>
<html>
<head>
	<title>Verified Users</title>
</head>
<body>
<form>
    <table border="5" align="center" width="400"><caption> <h1>VERIFIED USERS</h1></caption>
	<tr>
		<td><h3>USER NAME</h3></td>
		<td><h3>CHIT TYPE</h3></td>
		<td><h3>CHIT NAME</h3></td>
        <td><h3>AMOUNT</h3></td>
		<td><h3>STATUS</h3></td>
		
		
		
{#		#}
{#	</tr>#}
{#         {% if objval %}#}
{#        {% for ob in objval %}#}
{#        <tr>#}
{#            <td>{{ ob.m_id}}</td>#}
{#            <td>{{ ob.document_type}}</td>#}
{#            <td>{{ ob.documents}}</td>#}
{#            <td>{{ ob.status}}</td>#}
{##}
{#        </tr>#}
{#        {% endfor %}#}
{#        {% endif %}#}

</table>
</form>
</body>
</html>